/* Headings */
@font-face {
  font-family: 'Evil Dead';
  src: local('Evil Dead'), url('./EvilDead.ttf') format('truetype');
}

/* Texts */
@font-face {
  font-family: 'Galano Grotesque';
  font-weight: 400;
  src: local('Galano Grotesque'),
    url('./GalanoGrotesqueRegular.otf') format('truetype');
}
@font-face {
  font-family: 'Galano Grotesque';
  font-weight: 600;
  src: local('Galano Grotesque'),
    url('./GalanoGrotesqueSemiBold.otf') format('truetype');
}
@font-face {
  font-family: 'Galano Grotesque';
  font-weight: 800;
  src: local('Galano Grotesque'),
    url('./GalanoGrotesqueExtraBold.otf') format('truetype');
}
