:root {
  --accent: #c22400;
  --beige: #ffecc7;
  --black: #000000;
  --darkGray: #262525;
  --gray: #6d8391;
  --white: #ffffff;
}

/* ---------- DEFAULT STYLING ---------- */

body {
  background-color: var(--black);
  color: var(--beige);
  font-family: 'Galano Grotesque';
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

/* ---------- TYPOGRAPHY ---------- */

/* Heading */
h1 {
  font-family: 'Evil Dead';
  font-size: 56px;
  line-height: 72px;
}
h2 {
  font-family: 'Evil Dead';
  font-size: 48px;
  line-height: 64px;
}
h3 {
  font-family: 'Evil Dead';
  font-size: 32px;
  line-height: 48px;
}
h4 {
  font-family: 'Evil Dead';
  font-size: 28px;
  line-height: 44px;
}
h5 {
  font-family: 'Evil Dead';
  font-size: 24px;
  line-height: 40px;
}
h6 {
  font-family: 'Evil Dead';
  font-size: 20px;
  line-height: 36px;
}

@media only screen and (max-width: 600px) {
  h1,
  h2 {
    font-size: 28px;
    line-height: 44px;
  }
  h3 {
    font-size: 24px;
    line-height: 40px;
  }
  h5 {
    font-size: 20px;
    line-height: 32px;
  }
}

/* Text */
.t1 {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  text-transform: uppercase;
}
.t2 {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}
.t3 {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.t4 {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.t5 {
  font-size: 12px;
  line-height: 16px;
}

@media only screen and (max-width: 600px) {
  .t1 {
    font-size: 16px;
    line-height: 24px;
  }
}

/* Font Styling */
b {
  font-family: 'Galano Grotesque';
  font-weight: 900;
}
.semi-bold {
  font-family: 'Galano Grotesque';
  font-weight: 600;
}
.beige-tag {
  background-color: var(--beige);
  border-radius: 20px;
  color: var(--accent);
  font-size: 14px;
  font-weight: 600;
  padding: 4px 10px;
  text-transform: uppercase;
}
.red-tag {
  background-color: rgba(194, 36, 0, 0.5);
  border-radius: 20px;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 8px 20px;
  /* text-shadow: -2px -1px 0 var(--red), 2px -1px 0 var(--red),
    -1px 2px 0 var(--red), 2px 1px 0 var(--red); */
  text-transform: uppercase;
}
.white {
  color: #ffffff;
  font-size: 14px;
}
.muted {
  color: #6d8391;
  font-size: 14px;
}

/* ---------- BOOTSTRAP OVERRIDES ---------- */

/* Button */
.btn {
  background-color: var(--accent) !important;
  border: 2px solid var(--accent) !important;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 20px;
  padding: 8px 14px;
  text-transform: uppercase;
}
.btn:hover {
  background-color: transparent !important;
}
.outline {
  background-color: transparent !important;
  border: 2px solid var(--gray) !important;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 20px;
  padding: 8px 14px;
  text-transform: uppercase;
}
.outline:hover {
  background-color: rgba(109, 131, 145, 0.4) !important;
  border: 2px solid var(--gray) !important;
}

/* Navbar */
.navbar-toggler {
  border: none !important;
}
.nav-pills .nav-link {
  color: var(--accent) !important;
  padding: 14px !important;
}
.nav-pills .active {
  background-color: transparent !important;
  color: var(--beige) !important;
  text-decoration: underline !important;
}

/* Variant Danger */
.bg-danger {
  background-color: var(--accent) !important;
}
.text-danger {
  color: var(--accent) !important;
}

/* Borders */
.border-danger {
  border-color: var(--accent) !important;
}
.border-muted {
  border-color: var(--gray) !important;
}

/* Vertical Rule */
.vr {
  opacity: 1 !important;
  width: 1px !important;
}

/* ---------- COMPONENTS ---------- */

/* Navigation */
.nav-black {
  background-color: var(--black);
  opacity: 0.9;
}
.nav-red {
  background-color: var(--accent);
}
a {
  color: var(--beige) !important;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin-left: 14px;
  margin-right: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  a {
    margin-bottom: 30px;
  }
}

/* Cabin Section */
#cabin-booked h1 {
  font-size: 64px;
  letter-spacing: -10px;
}
#cabin-booked p {
  line-height: 8px;
}

/* Card Countdown  */
.card-countdown .vr {
  opacity: 1 !important;
  border: 1px solid var(--accent) !important;
}

@media only screen and (max-width: 600px) {
  .card-countdown h1 {
    font-size: 56px;
    line-height: 48px;
    margin-top: 12px;
  }
}

/* ---------- MISC STYLING ---------- */

/* Header */
.bg-header {
  background-image: url(../assets/images/background/bg-header.png);
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px;
}
.header-image {
  height: 298px;
}
.header-web {
  background-image: url(../assets/images/png/header-web.png);
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  height: 640px;
  margin-top: -14%;
  margin-left: -4%;
}
.section-intro {
  margin-top: 8%;
}
.header-collage {
  height: 460px;
  margin-top: -65%;
}
.header-photoburn {
  height: 470px;
}

@media only screen and (max-width: 600px) {
  .bg-header {
    height: 640px;
  }
  .header-image {
    margin-top: 30px;
    height: 225px;
  }
  .section-intro {
    margin-top: 20%;
  }
  .header-collage {
    width: 100%;
    height: auto;
    margin-top: 90%;
  }
  .header-photoburn {
    width: 100%;
    height: auto;
  }
}

/* Headliners */
.bg-headliners {
  background-image: url(../assets/images/background/bg-headliners.png);
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 970px;
}
.headliners-title {
  height: 245px;
}
.headliners-frame {
  height: 468px;
}

@media only screen and (max-width: 600px) {
  .bg-headliners {
    height: 530px;
  }
  .headliners-title {
    width: 90%;
    height: auto;
  }
  .headliners-frame {
    width: 100%;
    height: auto;
  }
}

/* Entertainments */
.border-beige {
  border-top: 10px solid var(--beige);
}
.border-beige-tabs {
  border-bottom: 10px solid var(--beige);
  border-top: 10px solid var(--beige);
}
.border-beige-content {
  border-left: 10px solid var(--beige);
}

/* Past Lineups */
.bg-red {
  background-color: var(--accent);
}

@media only screen and (max-width: 600px) {
  .border-beige-content {
    border-left: none;
    border-top: 10px solid var(--beige);
  }
}

/* Tagline */
.bg-tagline {
  background-image: url(../assets/images/background/bg-tagline.png);
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
  margin-top: -10%;
}

@media only screen and (max-width: 600px) {
  .bg-tagline {
    background-position: center;
    height: 500px;
  }
}

/* Instagram Posts */
.ig-skulls {
  height: 180px;
}

@media only screen and (max-width: 600px) {
  .ig-skulls {
    height: 125px;
  }
}

/* Gallery */
.section-gallery {
  margin-top: -28%;
}
.gallery-web {
  background-image: url(../assets/images/png/header-web.png);
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  height: 640px;
  margin-top: -16%;
  margin-left: -14%;
}

@media only screen and (max-width: 600px) {
  .section-gallery {
    margin-top: 20%;
  }
}

/* Newsletter */
.bg-newsletter {
  background-image: url(../assets/images/background/bg-newsletter.png);
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-newsletter {
  margin-top: -7%;
}
.border-darkgray {
  border: 10px solid var(--darkGray) !important;
}
.newsletter-duck {
  height: 164px;
}

@media only screen and (max-width: 600px) {
  .section-newsletter {
    margin-top: -9%;
  }
  .newsletter-duck {
    height: 125px;
  }
}

/* Footer */
.bg-footer {
  background-image: url(../assets/images/background/bg-footer.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
}
.footer-rated {
  height: 141px;
}

@media only screen and (max-width: 600px) {
  .bg-footer {
    height: 900px;
  }
  .bg-footer h3 {
    font-size: 14px;
  }
  .footer-rated {
    width: 80%;
    height: auto;
  }
}

/* Social Medias */
.social-icon {
  background-color: var(--beige);
  border-radius: 100%;
  height: 24px;
  margin-right: 5px;
  padding: 4px;
  transition: 0.2s;
}
.social-icon:hover {
  background-color: var(--gray);
  color: var(--white) !important;
  padding: 4px;
  transform: scale(1.2);
  transition: 0.2s;
}
